<div class="view home">
  <h1>Welcome to Cyber Card System</h1>
  <div class="cards-container">
    <div class="card-wrapper" data-index="0">
      <div hx-get="/cards/info/template" hx-trigger="load" hx-swap="outerHTML"></div>
    </div>
    <div class="card-wrapper" data-index="1">
      <div hx-get="/cards/info/template" hx-trigger="load" hx-swap="outerHTML"></div>
    </div>
    <div class="card-wrapper" data-index="2">
      <div hx-get="/cards/info/template" hx-trigger="load" hx-swap="outerHTML"></div>
    </div>
    <div class="card-wrapper" data-index="3">
      <div hx-get="/cards/info/template" hx-trigger="load" hx-swap="outerHTML"></div>
    </div>
  </div>
</div>
