<div class="view home">
  <h1>Welcome to Cyber Card System</h1>
  <div class="cards-container">
    <div class="card-wrapper" data-index="0" hx-get="/cards/info/template" hx-trigger="load"></div>
    <div class="card-wrapper" data-index="1" hx-get="/cards/info/template" hx-trigger="load"></div>
    <div class="card-wrapper" data-index="2" hx-get="/cards/info/template" hx-trigger="load"></div>
    <div class="card-wrapper" data-index="3" hx-get="/cards/info/template" hx-trigger="load"></div>
    <div class="card-wrapper" data-index="4" hx-get="/cards/info/template" hx-trigger="load"></div>
    <div class="card-wrapper" data-index="5" hx-get="/cards/info/template" hx-trigger="load"></div>
    <div class="card-wrapper" data-index="6" hx-get="/cards/info/template" hx-trigger="load"></div>
    <div class="card-wrapper" data-index="7" hx-get="/cards/info/template" hx-trigger="load"></div>
  </div>
</div>
